/* resources/css/app.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.current-day-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #3490dc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
